<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    "header_footer","basic_parts","btn_ill_parts","text","wrapper","media", :media => "all" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<tbody>
<div class ="wrap">

 <section class ="top-wrapper">
   <h1 class ="lead">E<span>N</span>JOY JAPA<span>N</span>ESE <span>N</span>IGHT WITH GUIDE</h1>
   <div href="" class ="circle"><span>ALL GUIDES<br>FREE<br>ONLY NOW</span></div>
 </section>

 <section class = "regi-form">
   <%= form_for @g_info do |f| %>
   <section id ="common-form">
    <div class ="myinfo-label">Please enter your E-mail address.</div>
    <%= f.email_field :name, :class => 'myinfo', :placeholder => 'E-mail' %>
    <div class ="myinfo-label">Please enter your Password.<br>Password must be a mixture of 8 alphanumeric characters.</div>
    <%= f.password_field :password, :class => "myinfo", :placeholder => "Password"%>
    <div class ="myinfo-label">Please enter your Password,again.</div>
    <%= f.password_field :repassword, :class => 'myinfo', :placeholder => 'Password' %>
    <div class ="myinfo-label">Please enter your Name</div>
    <%= f.text_field :name, :class => 'myinfo', :placeholder => 'Name' %>
    <div class ="myinfo-label">Please enter your Phone Number</div>
    <%= f.text_field :name, :class => 'myinfo', :placeholder => 'Phone Number' %>
    <div class ="myinfo-label">Please enter your Age</div>
    <%= f.text_field :age, :class => 'myinfo', :placeholder => "Age" %>
    <div class ="myinfo-label">Please choice your Sex</div>
    <div class ="dropdown"> <!--ドロップダウンリストから選択したら選択したものがテキストエリアに入る仕様で（未実装）-->
    <button class ="myarea-info">性別を選択</button>
     <div class ="dropdown-content">
      <a href="#">男性</a>
      <a href="#">女性</a>
      <a href="#">その他</a>
     </div>
    </div>
    <div class ="myinfo-label"><h4>Please upload your face picture.</h4></div>
    <label class ="upload-btn" for ="img2">
    Uproad
    <input type="file" id= "img2">
    </label>
    <br>
    <br>
    <btn id  ="regi-btn-guest">Register as a GEST</btn>
    <btn id ="regi-btn-guide">Register as a GUIDE</btn>
   </section>

   <section id ="guide-form">
     <div class = "myinfo-label">One message(max 700 words)</div>
     <%= f.text_field :name, :class =>'myinfo', :placeholder =>'it will be shown in search page of guest' %>

     <div class ="myinfo-label">Introduction(max 700 words)</div>
     <%= f.text_field :name, :class =>'myinfo-big', :placeholder =>'Please fill in detailed location, recommended store, notes etc.' %>

     <div class ="myscene-wrapper">
      <%= f.text_field :name, :class =>'guide-area-tag-input', :placeholder =>'#' %>
      <img id ="preview2"></img>
      <div class = "face-message">Please upload a landscape photo</div>
      <label class ="upload-btn" for ="img2">
       Upload
       <input type="file" id= "img2">
      </label>
     </div>

     <div class ="myscene-wrapper">
      <%= f.text_field :name, :class =>'guide-area-tag-input', :placeholder =>'#' %>
      <img id ="preview3"></img>
      <div class = "face-message">Please upload a landscape photo</div>
      <label class ="upload-btn" for ="img3">
       Upload
       <input type="file" id= "img3">
      </label>
     </div>
     <div class ="myscene-wrapper">
      <%= f.text_field :name, :class =>'guide-area-tag-input', :placeholder =>'#' %>
      <img id ="preview4"></img>
      <div class = "face-message">Please upload a landscape photo</div>
      <label class ="upload-btn" for ="img4">
       Upload
       <input type="file" id= "img4">
      </label>
     </div>
     <div class ="myscene-wrapper">
      <%= f.text_field :name, :class =>'guide-area-tag-input', :placeholder =>'#' %>
      <img id ="preview5"></img>
      <div class = "face-message">Please upload a landscape photo</div>
      <label class ="upload-btn" for ="img5">
       Upload
       <input type="file" id= "img5">
      </label>
     </div>
     <div id ="resiback">Back</div>
   </section>

   <section id ="guest-form">
   </section>


    <%= link_to f.submit :class => "regi-btn" %>
   <% end %>
 </section>

</div>
</tbody>

</html>
