<div class = "regi-form">
  <%= form_with(model: g_info, local: true) do |form| %>
    <% if g_info.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(g_info.errors.count, "error") %> prohibited this g_info from being saved:</h2>

        <ul>
        <% g_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

 <div class ="back"><%= link_to 'Back', @g_info %></div>

 <div class ="myinfo-label"><h4>Please enter your E-mail address.</h4></div>
 <%= form.email_field :email, :class => 'myinfo', :placeholder => 'E-mail' %>

 <div class ="myinfo-label"><h4>Please enter your Password.<br>Password must be a mixture of 8 alphanumeric characters.</h4></div>
 <%= form.password_field :password, :class => 'myinfo', :placeholder => 'Password' %>

 <div class ="myinfo-label"><h4>Please enter your Password,again.</h4></div>
 <%= form.password_field :repassword, :class => 'myinfo', :placeholder => 'Password' %>

 <div class ="myinfo-label"><h4>Please enter your Name</h4></div>
 <%= form.text_field :name, :class => 'myinfo', :placeholder => 'Name' %>

 <div class ="myinfo-label"><h4>Please enter your Phone Number</h4></div>
 <%= form.telephone_field :number, :class => 'myinfo', :placeholder => 'Phone Number' %>

 <div class ="myinfo-label"><h4>Please enter your Age</h4></div><!-- 18歳以下は登録不可制御-->
 <%= form.number_field :age, :class => 'myinfo', :placeholder => "Age" %>

 <div class ="myinfo-label"><h4>Please choice your Sex</h4></div>


   <div class ="myinfo-label"><h4>Please upload your face picture.</h4></div>
 <label class ="upload-btn" for ="img2">
  Uproad
  <input type="file" id= "img2">
 </label>

<%= form.submit :class => 'proceed-btn', :value => 'proceed' %>

<div class ="back"><%= link_to 'Back', @g_info %></div>

<%end%>
</div>
