<div class = "regi-form">

    <% if g_info.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(g_info.errors.count, "error") %> prohibited this g_info from being saved:</h2>

        <ul>
        <% g_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

 <div class ="back"><%= link_to 'Back', @g_info %></div>

 <%= form_with(model: g_info, local: true) do |form| %>

 <div class ="myinfo-label"><h3>Please upload your face picture.</h3></div>
 <label class ="upload-btn" for ="img2">
  Uproad
 </label>

 <div class ="myinfo-label">Please enter your E-mail address.</div>
 <%= form.email_field :email, :class => 'myinfo', :placeholder => 'E-mail' %>

 <label class ="myinfo-label">Please enter your Password.<br>Password must be a mixture of 8 alphanumeric characters.</label>
 <%= form.password_field :password, :class => 'myinfo', :placeholder => 'Password' %>

 <div class ="myinfo-label">Please enter your Password,again.</div>
 <%= form.password_field :repassword, :class => 'myinfo', :placeholder => 'Password' %>

 <div class ="myinfo-label">Please enter your Name</div>
 <%= form.text_field :name, :class => 'myinfo', :placeholder => 'Name' %>

 <div class ="myinfo-label">Please enter your Tel Number</div>
 <%= form.text_field :tel_number, :class => 'myinfo', :placeholder => 'Phone Number' %>

 <div class ="myinfo-label">Please enter your Age</div><!-- 18歳以下は登録不可制御-->
 <%= form.text_field :age, :class => 'myinfo', :placeholder => "Age" %>

 <div class ="myinfo-label">Please choice your Sex</div>
 <div class ="radio-btn"><%= form.radio_button :sex, "男" %> Men</div>
 <div class ="radio-btn"><%= form.radio_button :sex, "女" %> Women</div>
 <div class ="radio-btn"><%= form.radio_button :sex, "その他" %> Others</div>

 <div class ="myinfo-label">One message(max 50 words)</div>
 <%= form.text_field :hitokoto_shoukai, :class => 'myinfo', :placeholder => 'it will be shown in search page of guest' %>

 <div class ="myinfo-label">Introduction(max 700 words)</div>
 <%= form.text_field :shoukaibun, :class => 'myinfo-big', :placeholder => 'Please fill in detailed location, recommended store, notes etc.' %>

 <div class ="myscene-wrapper">
  <input type = "text" class ="guide-area-tag-input" value ="#"></input>
  <img id ="preview2"></img>
  <div class = "face-message">Please upload a landscape photo</div>
  <label class ="upload-btn" for ="img2">
   Upload
   <input type="file" id= "img2">
  </label>
 </div>
 <div class ="myscene-wrapper">
  <input type = "text" class ="guide-area-tag-input" value ="#"></input>
  <img id ="preview3"></img>
  <div class = "face-message">Please upload a landscape photo</div>
  <label class ="upload-btn" for ="img3">
   Upload
   <input type="file" id= "img3">
  </label>
 </div>
 <div class ="myscene-wrapper">
  <input type = "text" class ="guide-area-tag-input" value ="#"></input>
  <img id ="preview4"></img>
  <div class = "face-message">Please upload a landscape photo</div>
  <label class ="upload-btn" for ="img4">
   Upload
   <input type="file" id= "img4">
  </label>
 </div>
 <div class ="myscene-wrapper">
  <input type = "text" class ="guide-area-tag-input" value ="#"></input>
  <img id ="preview5"></img>
  <div class = "face-message">Please upload a landscape photo</div>
  <label class ="upload-btn" for ="img5">
   Upload
   <input type="file" id= "img5">
  </label>
 </div>

<div><%= form.submit :class => 'edit', :value => 'Update' %></div>

<% end %>

</div>
