<!DOCTYPE html>

<html>

<head>



</head>

<tbody>
<% if user_signed_in? %>
 <header>
  <tr>
   <div class = "dropdown-header">
    <ul class ="responsive-menu"><i class="fas fa-bars"></i></ul>
     <div class ="dropdown-content-header">
      <% @g_infos.each do |g_info| %>
      <td><%= link_to 'マイページ設定', g_info_path(@g_info) %></td>
      <a  href="#">マッチ</a>
      <td><%= link_to 'お知らせ', news_path %></td>
      <td><%= link_to 'Q&A', questions_path %></td>
      <td><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></td>
      <% end %>
     </div>
   </div>
   <ul class ="logo"><a href="/">JAPA<span>N</span>IGHT</a></ul>
   <% @g_infos.each do |g_info| %>
   <ul class ="mypagecommand"><%= link_to 'マイページ設定', g_info_path(@g_info) %></ul>
   <ul ul class ="mypagecommand"><a  href="#">チャット</a></ul>
   <ul ul class ="mypagecommand"><%= link_to '設定編集', edit_g_info_path(@g_info) %></ul>
   <ul class ="mypagecommand"><a  href="#">マッチ</a></ul>
   <ul class ="mypagecommand"><a  href="#">お知らせ</a></ul>
   <ul class ="mypagecommand"><a  href="#">Q&A</a></ul>
   <ul class ="mypagecommand"><a  href="#">LOGOUT</a></ul>
   <% end %>

  </tr>
 </header>
<% end %>

<% if current_user == nil %>
 <header>
  <tr>
  <ul class ="logo"><a href="/">JAPA<span>N</span>IGHT</a></ul>
  <div class = "dropdown-header">
   <ul class ="responsive-menu"><i class="fas fa-bars"></i></ul>
    <div class ="dropdown-content-header">
     <%= link_to 'SIGNUP' ,new_guide_path %>
     <a href="#">マイページ</a>
     <a href="#">SIGNIN</a>
     <a href="#">MYPAGE</a>
    </div>
  </div>
  <ul class ="login"><%= link_to 'LOGIN' ,login_url %></ul>
  </tr>
 </header>
<% end %>
</tbody>

</html>
