<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel ="stylesheet" href="assets/header_footer.css">
  <link rel ="stylesheet" href="assets/basic_parts.css">
  <link rel ="stylesheet" href="assets/btn_ill_parts.css">
  <link rel ="stylesheet" href="assets/text.css">
  <link rel ="stylesheet" href="assets/wrapper.css">
  <link rel ="stylesheet" href="assets/media.css">

  <link rel ="stylesheet" href ="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity ="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
　<link href="https://fonts.googleapis.com/css?family=Anton|Monoton|Baloo+Bhaijaan|Baloo+Da|Dancing+Script|Kosugi+Maru|Open+Sans|Poiret+One|Questrial|Quicksand|Reem+Kufi|Righteous|Roboto:300i|Staatliches&display=swap" rel="stylesheet">

  <title>JAPANIGHT</title>
</head>

<body>

 <%= render 'header'%>

 <section class ="top-wrapper">
  <h1 class ="lead">あなたの日常が<br>ゲストのスペシャル</h1>
  <h2 class ="lead4guide">よく知る<span>日本</span>を教えてください</h2>
  <div href="" class ="circle"><span>ガイド<br>無料キャン<br>ペーン</span></div>
 </section>

 <section class = "login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h4>メールアドレスを入力してください。</h4>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'myinfo', :placeholder => 'E-mail' %>
  <h4>パスワードを入力してください。</h4>
  <%= f.password_field :password, autocomplete: "current-password", :class => 'myinfo', :placeholder => 'Password' %>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <input type="submit" value="LOGIN" class="submit-btn">
<<<<<<< HEAD
  <%= f.submit "Log in" %>
  <% end %>
  <%= render "devise/shared/links" %>

  <h4>新規登録は<a href=""><span><u>こちら</u></span></a></h4>
  <h4>パスワード忘れた場合は<a href=""><span><u>こちら</u></span></a></h4>


=======
  <h4>新規登録は<a href=""><span>こちら</span></a></h4>
  <h4>パスワードを忘れた場合は<a href=""><span>こちら</span></a></h4>
>>>>>>> 9eb6eda084cf1c446555ebdf05c1d6d034e3178a
 </section>

<%= render 'footer'%>

</body>
<%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
<%= javascript_include_tag "stylesheet.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
</html>
