<!DOCTYPE html>

<html>
<body>


 <form name="Logout" method="post" action="/cgi-bin/Logout.cgi">
  <section class = "logout-form">
   <h4>ログアウトしますか?</h4>
   <btn class="logout-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %><btn>
  </section>
 </form>

 <footer>　<!-- フッターは同じコードなので省略して記述したい　-->
    <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
    <img src  = "assets/town.png" class ="town-ill"></img>
    <wrapper class ="footer-wrapper">
     <ul class ="footer-list"><a href ="">HELP</a></ul>
     <ul class ="footer-list"><a href ="">CONTACT</a></ul>
     <ul class ="footer-list"><a href ="">COMPANY</a></ul>
     <ul class ="footer-list"><a href ="">OUR PHILOSOPHY</a></ul>
     <ul class ="footer-list"><a href ="">TERMS OF USE</a></ul>
     <ul class ="footer-list"><a href ="">SPECIAL COMMERCIAL CODE</a></ul>
     <ul class ="footer-list"><a href ="">PRIVACY POLICY</a></ul>
    </wrapper>
 </footer>
</body>
<%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
<%= javascript_include_tag "stylesheet.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
</html>
