<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel ="stylesheet" href="assets/header_footer.css">
  <link rel ="stylesheet" href="assets/basic_parts.css">
  <link rel ="stylesheet" href="assets/btn_ill_parts.css">
  <link rel ="stylesheet" href="assets/text.css">
  <link rel ="stylesheet" href="assets/wrapper.css">
  <link rel ="stylesheet" href="assets/media.css">

  <link rel ="stylesheet" href ="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity ="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  　<link href="https://fonts.googleapis.com/css?family=Anton|Monoton|Baloo+Bhaijaan|Baloo+Da|Dancing+Script|Kosugi+Maru|Open+Sans|Poiret+One|Questrial|Quicksand|Reem+Kufi|Righteous|Roboto:300i|Staatliches&display=swap" rel="stylesheet">

  <title>JAPANIGHT</title>
</head>

<body>

 <header>　
  <div class = "dropdown-header">
   <ul class ="responsive-menu"><i class="fas fa-bars"></i></ul>
    <div class ="dropdown-content-header">
     <a href="#">設定編集</a>
     <a href="#">マッチ</a>
     <a href="#">お知らせ</a>
     <a href="#">LOGOUT</a>
    </div>
  </div>

   <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
   <ul class ="header-username"><a href ="">Mocci</a></ul>　<!-- ログインすることでユーザー名が表出　-->
   <ul class ="mypagecommand"><a href="">設定編集</a></ul>　<!-- ログインすることでマイページコマンドが表出　-->
   <ul class ="mypagecommand"><a href="">マッチ</a></ul>
   <ul class ="mypagecommand"><a href="">お知らせ</a></ul>
   <ul class ="mypagecommand"><a href=""><span>Q&A</span></a></ul>
   <ul class ="login"><a href="">LOGOUT</a></ul>　<!-- ログインすることでlogupがlogoutに変更される　-->
 </header>

 <div class ="QA-room">
  <h3 class ="title-QA">Q&A</h3>
  <article class ="Q_A">
   <p class ="Q">JAPANIGHTとはどのようなサービスですか?</p>
   <p class ="A">JAPANIGHTは、日本を訪れる旅行者（ゲスト）と、日本に在住するガイドをマッチングするサービスです。主に日本の夜をガイドし、ゲストと一緒に楽しむマッチングサービスです。</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">ユーザー登録は無料ですか？</p>
   <p class ="A">ゲストとガイドともに無料で登録できます。</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">ガイドは手数料をもらえませんか?</p>
   <p class ="A">β版サービスでは、ガイドフィー無料キャンペーン中です。正式ローンチ後手数料決済機能を実装予定です。</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">ユーザー登録の際にメールアドレスにのエラーが出るのですが?</p>
   <p class ="A">メールアドレスが既に登録済み、または無効な文字列が含まれるメールアドレスになります。</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">パスワードを忘れた</p>
   <p class ="A">以下の手順で再設定することが可能です。<br>
     【パスワードの再設定方法】<br>
     １．「サインイン」＞「パスワード忘れ」を選択<br>
     ２．該当のメールアドレス宛にパスワード再設定用のメールを送信<br>
     ３．該当のメールアドレスに届いたメール内のURLよりパスワード再設定をおこなう</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">退会したい</p>
   <p class ="A">退会について以下の手順となります。<br>
     【退会の方法】<br>
     １．こちらにご登録のメールアドレスを入力<br>
     ２．該当のメールアドレス宛に退会手続き用のメールを送信<br>
     ３．該当のメールアドレスに届いたメール内のURLより退会の手続きをおこなう<br><br>
     ※以下に該当する場合、退会することができません。<br>
     ・要請された依頼がある場合・進行中の依頼がある場合<br>
     ・ガイド報酬の支払関係が進行中の場合退会の手続きの際に、よろしければ、退会理由を添えていただきますようご協力をお願いいたします</p>
  </article>
 </div>

 <footer>　<!-- フッターは同じコードなので省略して記述したい　-->
    <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
    <img src  = "assets/town.png" class ="town-ill"></img>
    <wrapper class ="footer-wrapper">
     <ul class ="footer-list"><a href ="">HELP</a></ul>
     <ul class ="footer-list"><a href ="">CONTACT</a></ul>
     <ul class ="footer-list"><a href ="">COMPANY</a></ul>
     <ul class ="footer-list"><a href ="">OUR PHILOSOPHY</a></ul>
     <ul class ="footer-list"><a href ="">TERMS OF USE</a></ul>
     <ul class ="footer-list"><a href ="">SPECIAL COMMERCIAL CODE</a></ul>
     <ul class ="footer-list"><a href ="">PRIVACY POLICY</a></ul>
    </wrapper>
 </footer>
</body>
<%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
<%= javascript_include_tag "stylesheet.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>


</html>
