<!DOCTYPE html>
<html>
<body>
<div class ="wrap">

 <section class ="top-wrapper">
  <h1 class ="lead">MAKE A FRIE<span>N</span>DS A<span>N</span>D E<span>N</span>JOY JAPA<span>N</span>ESE <span>N</span>IGHT</h1>
  <h2 class ="lead4guide">Resgistraition is very easy & takes only a minute.<h2>
  <div href="" class ="circle"><span>ALL GUIDES<br>FREE<br>ONLY<br>NOW</span></div>
 </section>

 <%= form_with(model: @g_info, local: true) do |form| %>
 <section id= "regi-form" class='panel-group'>

  <div class= "panel is-show">
    <h3 style ="font-family: 'Poiret One', cursive;"><i class="fas fa-cog fa-fw"></i> BASIC INFO</h3>

    <div class ="myinfo-label">Please enter your Email</div>
    <%= form.text_field :email, autofocus: true, autocomplete: "email", class: "myinfo"%>

    <div class ="myinfo-label">Please enter your Password.<br>Password must be a mixture of 8 alphanumeric characters.</div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password", class: "myinfo" %>

    <div class ="myinfo-label">Please enter your Password,again.</div>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "myinfo" %>

    <div class ="myinfo-label">Please enter your Name</div>
    <%= form.text_field :name, :class => 'myinfo', :placeholder => 'Name' %>

    <div class ="myinfo-label">Please enter your Phone Number</div>
    <%= form.text_field :name, :class => 'myinfo', :placeholder => 'Phone Number' %>

    <div class ="myinfo-label">Please enter your Age</div>
    <%= form.text_field :age, :class => 'myinfo', :placeholder => "Age" %>

    <div class ="myinfo-label">Please choice your Sex</div>
    <%= form.radio_button :sex, "男" , :class=> "radio_btn", :id => "rlabel1" %>
    <%= form.label ' Men', :for => "rlabel1" %>
    <%= form.radio_button :sex, "女", :class=> "radio_btn", :id => "rlabel2" %>
    <%= form.label ' Women', :for => "rlabel2" %>
    <%= form.radio_button :sex, "その他", :class=> "radio_btn", :id => "rlabel3" %>
    <%= form.label ' Others', :for => "rlabel3" %>

    <div class ="myinfo-label"><h4>Please upload your face picture.</h4></div>

       <div id="face_img_field" onClick="$('#file').click()" >
        <% if @g_info.face_picture.present? %>
         <%= image_tag(@g_info.face_picture)%>
         <% else %>
         <i class="fas fa-smile"></i>
         <% end %>
       </div>
       <%= form.file_field :face_picture, class: "face_preview", style: "display:none;", id: "file"%>

       <div class ="regi-group">
         <li class ="regi is-active"><%= form.submit 'REGIST as a GEST', :id => 'regi-btn-guest' %></li>
         <li class ="regi" id= "regi-btn-guide">REGIST as a GUIDE</li>
       </div>



  </div>

  <div class ="panel">
        <li class ="regi is-active" id ="back">Back</li>

     <h3 style ="font-family: 'Poiret One', cursive;"><i class="fas fa-hat-wizard fa-fw"></i> GUIDE INFO</h3>

     <div class ="myinfo-label">Please select all area where you can guide.</div>
     <section class ="area-tag-wrapper">
     <%= form.radio_button :Roppongi_area, "Roppongi_area", :class=> "radio_btn", :id => "radio1" %>
     <%= form.label 'Roppongi~Azabu~Akaska', :for => "radio1" %>
     <%= form.radio_button :Shinjyuku_area, "Shinjyuku_area", :class=> "radio_btn", :id => "radio2" %>
     <%= form.label 'Shinjyuku~Ikebukuro', :for => "radio2" %>
     <%= form.radio_button :Shibuya_area, "Shibuya_area", :class=> "radio_btn", :id => "radio3" %>
     <%= form.label 'Shibuya~Ebis~Meguro', :for => "radio3" %>
     <%= form.radio_button :Ginza_area, "Ginza_area", :class=> "radio_btn", :id => "radio4" %>
     <%= form.label 'Ginza~Tokyo Station', :for => "radio4" %>
     <%= form.radio_button :Akihabara_area, "Akihabara_area", :class=> "radio_btn", :id => "radio5" %>
     <%= form.label 'Akihabara~Ueno~Asakusa', :for => "radio5" %>
     <%= form.radio_button :Others_area, "Others_area", :class=> "radio_btn", :id => "radio6" %>
     <%= form.label 'Others', :for => "radio6" %>
     <h4><a href="javascript:void(0);" onclick="resetradio()"><i class="fas fa-times-circle fa-fw"></i> Reset</a></h4>
     </section>

     <div class ="myinfo-label">Please select all language  you can speak.</div>
     <%= form.check_box :use_language_list, :value => "English", :class=> "radio_btn", :id => "checkboxl1" %>
     <%= form.label 'English', :for => "checkboxl1" %>
     <%= form.check_box :use_language_list, :value => "Jpanese", :class=> "radio_btn", :id => "checkboxl2" %>
     <%= form.label 'Japanese', :for => "checkboxl2" %>
     <%= form.check_box :use_language_list, :value => "Chinese", :class=> "radio_btn", :id => "checkboxl3" %>
     <%= form.label 'Chinese', :for => "checkboxl3" %>
     <%= form.text_field :use_language_list, :class =>'myinfo', :placeholder =>'Other Language' %>
     <h4><a href="javascript:void(0);" onclick="resetcheckboxl()"><i class="fas fa-times-circle fa-fw"></i> Reset</a></h4>


     <div class = "myinfo-label">One message(max 700 words)</div>
     <%= form.text_field :name, :class =>'myinfo', :placeholder =>'it will be shown in search page of guest' %>

     <div class ="myinfo-label">Introduction(max 700 words)</div>
     <%= form.text_field :name, :class =>'myinfo-big', :placeholder =>'Please fill in detailed location, recommended store, notes etc.' %>

     <div class ="myinfo-label"><h4>Please upload photos of the spots you know well.</h4></div>
     <div class ="myscene-wrapper">
       <div id="img_field" onClick="$('#files').click()" >
        <% if @g_info.picture.present? %>
         <%= image_tag(@g_info.picture)%>
         <% else %>
         <i class="fas fa-image"></i>
         <% end %>
       </div>
       <%= form.file_field :picture, class: "image", style: "display:none;", id: "files", :multiple => true %>
     </div>


     <div><%= link_to form.submit 'Regist', :class => "regi-btn" %></div>

  </div>
 </section>
 <% end %>

</div>
</body>
</html>
