<!DOCTYPE html>
<html>
<body>
<div class ="wrap">
 <section class ="top-wrapper">
  <h1 class ="lead">MAKE A FRIE<span>N</span>DS A<span>N</span>D E<span>N</span>JOY JAPA<span>N</span>ESE <span>N</span>IGHT</h1>
  <h2 class ="lead4guide">Resgistraition is very easy & rakes only a minute.<h2>
  <div href="" class ="circle"><span>ALL GUIDES<br>FREE<br>ONLY<br>NOW</span></div>
 </section>

 <%= form_with(model: @g_info, local: true) do |form| %>
 <section id= "regi-form" class='panel-group'>

  <section class= "panel is-show">

    <div class ="myinfo-label">Please enter your Email</div>
    <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "myinfo"%>

    <div class ="myinfo-label">Please enter your Password.<br>Password must be a mixture of 8 alphanumeric characters.</div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password", class: "myinfo" %>

    <div class ="myinfo-label">Please enter your Password,again.</div>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "myinfo" %>

    <div class ="myinfo-label">Please enter your Name</div>
    <%= form.text_field :name, :class => 'myinfo', :placeholder => 'Name' %>

    <div class ="myinfo-label">Please enter your Phone Number</div>
    <%= form.text_field :name, :class => 'myinfo', :placeholder => 'Phone Number' %>

    <div class ="myinfo-label">Please enter your Age</div>
    <%= form.text_field :age, :class => 'myinfo', :placeholder => "Age" %>

    <div class ="myinfo-label">Please choice your Sex</div>
    <div class ="radio-btn"><%= form.radio_button :sex, "男" %> Men</div>
    <div class ="radio-btn"><%= form.radio_button :sex, "女" %> Women</div>
    <div class ="radio-btn"><%= form.radio_button :sex, "その他" %> Others</div>


    <%= form.submit 'SIGNUP as a GEST?', :id => 'regi-btn-guest', :class => 'tab is-active' %><br>
    <input id= "regi-btn-guide" class ="tab" value ="SIGNUP as a GUIDE?">

  </section>

  <section class ="panel">

     <div class = "myinfo-label">One message(max 700 words)</div>
     <%= form.text_field :name, :class =>'myinfo', :placeholder =>'it will be shown in search page of guest' %>

     <div class ="myinfo-label">Introduction(max 700 words)</div>
     <%= form.text_field :name, :class =>'myinfo-big', :placeholder =>'Please fill in detailed location, recommended store, notes etc.' %>

     <div class ="myscene-wrapper">
      <%= form.text_field :name, :class =>'guide-area-tag-input', :placeholder =>'#' %>

      <img id ="preview2"></img>
      <div class = "face-message">Please upload a landscape photo</div>
      <label class ="upload-btn" for ="img2">
       Upload
       <input type="file" id= "img2">
      </label>
     </div>
     <div class ="myscene-wrapper">
      <%= form.text_field :name, :class =>'guide-area-tag-input', :placeholder =>'#' %>
      <img id ="preview3"></img>
      <div class = "face-message">Please upload a landscape photo</div>
      <label class ="upload-btn" for ="img3">
       Upload
       <input type="file" id= "img3">
      </label>
     </div>
     <div class ="myscene-wrapper">
      <%= form.text_field :name, :class =>'guide-area-tag-input', :placeholder =>'#' %>
      <img id ="preview4"></img>
      <div class = "face-message">Please upload a landscape photo</div>
      <label class ="upload-btn" for ="img4">
       Upload
       <input type="file" id= "img4">
      </label>
     </div>
     <div class ="myscene-wrapper">
      <%= form.text_field :name, :class =>'guide-area-tag-input', :placeholder =>'#' %>
      <img id ="preview5"></img>
      <div class = "face-message">Please upload a landscape photo</div>
      <label class ="upload-btn" for ="img5">
       Upload
       <input type="file" id= "img5">
      </label>
     </div>
     <div id ="resiback">Back</div>
     <%= link_to form.submit :class => "regi-btn" %>
  </section>


 </section>
 <% end %>

</div>
</body>
</html>
