<!DOCTYPE html>
<html>
<tbody>

 <%= render 'header'%>

 <section class ="top-wrapper">
   <h1 class ="lead">E<span>N</span>JOY JAPA<span>N</span>ESE <span>N</span>IGHT WITH US</h1>
   <div href="" class ="circle"><span>ALL GUIDES<br>FREE<br>ONLY NOW</span></div>
 </section>

 <%= render 'form', g_info: @g_info %>

 <%= render 'footer'%>

 </tbody>
 <%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
 <%= javascript_include_tag "stylesheet.js" %>
 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
 <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
 <%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
 </html>
