<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel ="stylesheet" href="assets/header_footer.css">
  <link rel ="stylesheet" href="assets/basic_parts.css">
  <link rel ="stylesheet" href="assets/btn_ill_parts.css">
  <link rel ="stylesheet" href="assets/text.css">
  <link rel ="stylesheet" href="assets/wrapper.css">
  <link rel ="stylesheet" href="assets/media.css">

  <link rel ="stylesheet" href ="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity ="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
　<link href="https://fonts.googleapis.com/css?family=Anton|Monoton|Baloo+Bhaijaan|Baloo+Da|Dancing+Script|Kosugi+Maru|Open+Sans|Poiret+One|Questrial|Quicksand|Reem+Kufi|Righteous|Roboto:300i|Staatliches&display=swap" rel="stylesheet">

  <title>JAPANIGHT</title>
</head>

<tbody>

 <%= render 'header'%>

  <div class="content">

   <div class ="mypage-head">
    <h2>Mocci</h2>
    <div class ="myface-wrapper">　
     <img id ="mypageface-icon"></img>
    </div>
   </div>
    <h3><span>WOULD YOU TREAT TO THIS GUIDE?</span></h3>

    <div class="radio-form">
      <h3 class ="h3media">Please select one.The guide fee is free, because the campaign is underway, If you can treat to the guide, it will be easier to match.</h3>
      <label>
        <input type="radio" name="treat" value="1" class="checkbox01-input">
        <p class="checkbox01-parts"> It's on me for 1 activity one night.</p>
      </label>
      <label>
        <input type="radio" name="treat" value="2" class="checkbox01-input">
        <p class="checkbox01-parts"> It's on me for 2 activities one night.</p>
      </label>
      <label>
        <input type="radio" name="treat" value="all" class="checkbox01-input">
        <p class="checkbox01-parts"> It's on me for all activities one night.</p>
      </label>
      <label>
        <input type="radio" name="treat" value="0" class="checkbox01-input">
        <p class="checkbox01-parts"> Guide pays at his/her own charge.</p>
      </label>
      <h3 class ="h3media">
        If you select you can treat,the guide can see your treat icon in chat index.
        <div class = "treat-icon"><i class="fas fa-utensils"></i></div>
      </h3>
    </div>
    <div class ="edit">OFFER</div>

  </div>

  <%= render 'footer'%>

  </tbody>
  <%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
  <%= javascript_include_tag "stylesheet.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
  </html>
