<!DOCTYPE html>

<html>

<body>
<div class ="wrap">

 <div class="mypage">
  <ul class="tabs group">
   <a class="activetab" href="#/asaguide">AS A GUIDE</a>
   <a class="notactivetab" href="#/asaguest">AS A GUEST</a>
  </ul>


  <div class="content">
   <section id= "asaguide"><!-- ガイドのタブ -->
    <div class ="edit" ><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>
    <div class ="mypage-head">　
     <div class ="myface-wrapper">　
      <img id ="mypageface-icon"></img>
     </div>
    </div>
　　　<img src  = "/assets/wine_w.png" class ="bottle_w_l" ></img>
     <img src  = "/assets/wine_w.png" class ="bottle_w_r" ></img>

    <div class ="myinfo-wrapper">

     <div class ="myinfo-label">Email</div>
     <div class ="myinfo"></div>    　

     <div class ="myinfo-label">Name</div>
     <div class ="myinfo"><%= @g_info.name %></div>

     <div class ="myinfo-label">Sex</div>
     <div class ="myinfo"><%= @g_info.sex %></div>

     <div class ="myinfo-label">Age</div>
     <div class ="myinfo"><%= @g_info.age %></div>

     <div class ="myinfo-label">Tel</div>
     <div class ="myinfo"></div>

     <div class ="myinfo-label">Where you can guide</div>
     <div class ="myinfo">00000000000</div>

     <div class ="myinfo-label">Language</div>
     <div class ="myinfo">00000000000</div>

     <div class ="myinfo-label">One message(　)</div>
     <div class ="myinfo">00000000000</div>

     <div class ="myinfo-label">Introduction（　）</div>
     <div class ="myinfo-big"></div>

     <div class ="myscene-wrapper">
      <h4 class ="guide-area-tag"><a>#Shinjyuku</a></h4>
      <img id ="preview2"></img>
     </div>
     <div class ="myscene-wrapper">
      <h4 class ="guide-area-tag"><a>#Shinjyuku</a></h4>
      <img id ="preview3"></img>
     </div>
     <div class ="myscene-wrapper">
      <h4 class ="guide-area-tag"><a>#Shinjyuku</a></h4>
      <img id ="preview4"></img>
     </div>
     <div class ="myscene-wrapper">
      <h4 class ="guide-area-tag"><a>#Shinjyuku</a></h4>
      <img id ="preview5"></img>
     </div>
    </div>
    <div class ="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>
    <label class ="myinfo-label"><h4>正式ローンチ後、ガイドフィー（有償ガイド）・決済機能が追加されます</h4></label>


   </section>

  </div>

 </div>
</div>
</body>
</html>
