<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel ="stylesheet" href="assets/header_footer.css">
  <link rel ="stylesheet" href="assets/basic_parts.css">
  <link rel ="stylesheet" href="assets/btn_ill_parts.css">
  <link rel ="stylesheet" href="assets/text.css">
  <link rel ="stylesheet" href="assets/wrapper.css">
  <link rel ="stylesheet" href="assets/media.css">

  <link rel ="stylesheet" href ="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity ="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
　<link href="https://fonts.googleapis.com/css?family=Anton|Monoton|Baloo+Bhaijaan|Baloo+Da|Dancing+Script|Kosugi+Maru|Open+Sans|Poiret+One|Questrial|Quicksand|Reem+Kufi|Righteous|Roboto:300i|Staatliches&display=swap" rel="stylesheet">

  <title>JAPANIGHT</title>
</head>

<body>

 <%= render 'header'%>

 <div class="mypage">
  <ul class="tabs group">
   <a class="activetab" href="#/asaguide">AS A GUIDE</a>
   <a class="notactivetab" href="#/asaguest">AS A GUEST</a>
  </ul>


  <div id="content">
   <section id= "asaguide"><!-- ガイドのタブ -->
    <div class ="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>
    <div class ="mypage-head">　
     <div class ="myface-wrapper">　
      <img id ="mypageface-icon"></img>
     </div>
    </div>
　　　<img src  = "assets/wine_w.png" class ="bottle_w_l" ></img>
     <img src  = "assets/wine_w.png" class ="bottle_w_r" ></img>

    <div class ="myinfo-wrapper">　

     <div class ="myinfo-label">名前</div>
     <div class ="myinfo"><%= @g_info.name %></div>

     <div class ="myinfo-label">性別</div>
     <div class ="myinfo"><%= @g_info.sex %></div>

     <div class ="myinfo-label">年齢</div>
     <div class ="myinfo"><%= @g_info.age %></div>

     <div class ="myinfo-label">電話番号</div>
     <div class ="myinfo">00000000000</div>

     <div class ="myinfo-label">案内できる場所</div>
     <div class ="myinfo">00000000000</div>

     <div class ="myinfo-label">使用可能言語</div>
     <div class ="myinfo">00000000000</div>

     <div class ="myinfo-label">ひと言紹介文(　文字)</div>
     <div class ="myinfo">00000000000</div>

     <div class ="myinfo-label">紹介文（　文字）</div>
     <div class ="myinfo-big"></div>

     <div class ="myscene-wrapper">
      <h4 class ="guide-area-tag"><a>#Shinjyuku</a></h4>
      <img id ="preview2"></img>
     </div>
     <div class ="myscene-wrapper">
      <h4 class ="guide-area-tag"><a>#Shinjyuku</a></h4>
      <img id ="preview3"></img>
     </div>
     <div class ="myscene-wrapper">
      <h4 class ="guide-area-tag"><a>#Shinjyuku</a></h4>
      <img id ="preview4"></img>
     </div>
     <div class ="myscene-wrapper">
      <h4 class ="guide-area-tag"><a>#Shinjyuku</a></h4>
      <img id ="preview5"></img>
     </div>
    </div>
    <div class ="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>
    <label class ="myinfo-label">正式ローンチ後、ガイドフィー（有償ガイド）・決済機能が追加されます</label>


   </section>

  </div>

 </div>

<%= render 'footer'%>

</body>
<%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
<%= javascript_include_tag "stylesheet.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
</html>
