<html>
<head>

</head>
<body>
  <div class="wrap">

    <div id="mypage">
      <div class ="tab-group">
        <li class="tab is-active">BASIC INFO</li>
        <li class="tab">INFO AS A GUIDE</li>
      </div>

      <% @g_infos.each do |g_info| %>
      <div id="content" class='panel-group'>

        <section class='panel is-show'>
          <!-- ガイドのタブ -->
          <div class="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>

          <div class="mypage-head">
            <div class="myface-wrapper">
              <div id="face_img_field">
                <% if @g_info.face_picture.present? %>
                 <%= image_tag(@g_info.face_picture)%>
                 <% else %>
                 <i class="fas fa-smile"></i>
                 <% end %>
              </div>
            </div>
          </div>
          <img src="/assets/wine_w.png" class="bottle_w_l"></img>


          <div class="myinfo-wrapper">

            <div class="myinfo-label">Email</div>
            <div class="myinfo_basic"></div>

            <div class="myinfo-label">Name</div>
            <div class="myinfo_basic"><%= @g_info.name %></div>

            <div class="myinfo-label">Sex</div>
            <div class="myinfo_basic_age"><%= @g_info.sex %></div>

            <div class="myinfo-label">Age</div>
            <div class="myinfo_basic_age"><%= @g_info.age %></div>

            <div class="myinfo-label">Tel Number</div>
            <div class="myinfo_basic"><%= @g_info.tel_number %></div>

          </div>

          <div class="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>
          <label class="myinfo-label">
            <h4>After the official launch, guide fee (charged guide)function & payment function will be added.</h4>
          </label>

        </section>

        <section class='panel'>

          <div class="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>

          <img src="/assets/wine_w.png" class="bottle-ill"></img>

          <div class="myinfo-wrapper">

            <div class="myinfo-label">Where you can guide</div>
            <% if @g_info.Roppongi_area.present? %>
              <div class="myinfo_radio"><%= @g_info.Roppongi_area %></div>
            <% end %>
            <% if @g_info.Shinjyuku_area.present? %>
              <div class="myinfo_radio"><%= @g_info.Shinjyuku_area %></div>
            <% end %>
            <% if @g_info.Shibuya_area.present? %>
              <div class="myinfo_radio"><%= @g_info.Shibuya_area %></div>
            <% end %>
            <% if @g_info.Ginza_area.present? %>
              <div class="myinfo_radio"><%= @g_info.Ginza_area %></div>
            <% end %>
            <% if @g_info.Akihabara_area.present? %>
              <div class="myinfo_radio"><%= @g_info.Akihabara_area %></div>
            <% end %>
            <% if @g_info.Others_area.present? %>
             <div class="myinfo_radio"><%= @g_info.Others_area %></div>
            <% end %>

            <div class="myinfo-label">Language</div>
            <% if @g_info.use_language_list.present? %>
            <div class="myinfo_radio"><%= @g_info.use_language_list %></div>
            <% end %>
            <div class="myinfo-label">One message</div>
            <div class="myinfo"><%= @g_info.hitokoto_shoukai %></div>

            <div class="myinfo-label">Introduction</div>
            <div class="myinfo-big"><% @g_info.shoukaibun %></div>

            <div class="myinfo-label">Your pictures</div>
            <div class="myscene-wrapper">
              <% @g_infos.each do |picture| %>
              <div id="img_field">
                <% if @g_info.picture.present? %>
                 <%= image_tag(@g_info.picture)%>
                <% else %>
                 <i class="fas fa-image"></i>
                <% end %>
              </div>
              <% end %>
            </div>

          </div>

          <div class="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>
         <label class="myinfo-label"><h4>After the official launch, guide fee (charged guide)function & payment function will be added.</h4></label>
        </section>
      </div>
      <% end %>
    </div>
  </div>
</body>
</html>
