<html>
<head>

</head>
<body>
  <div class="wrap">

    <div id="mypage">
      <div id="tab-group">
        <li class="tab is-active" id="guidetab" title="asaguide" >AS A GUIDE</li>
        <li class="tab" id="guesttab" title="asaguest">AS A GUEST</li>
      </div>

      <% @g_infos.each do |g_info| %>
      <div id="content" class='panel-group'>

        <section id="asaguide" class='panel is-show'>
          <!-- ガイドのタブ -->
          <div class="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>

          <div class="mypage-head">
            <div class="myface-wrapper">
              <img id="mypageface-icon"><%= @g_info.face_picture %>
            </div>
          </div>
          <img src="/assets/wine_w.png" class="bottle_w_l"></img>
          <img src="/assets/wine_w.png" class="bottle_w_r"></img>

          <div class="myinfo-wrapper">

            <div class="myinfo-label">Email</div>
            <div class="myinfo"></div>

            <div class="myinfo-label">Name</div>
            <div class="myinfo"><%= @g_info.name %></div>

            <div class="myinfo-label">Sex</div>
            <div class="myinfo"><%= @g_info.sex %></div>

            <div class="myinfo-label">Age</div>
            <div class="myinfo"><%= @g_info.age %></div>

            <div class="myinfo-label">Tel Number</div>
            <div class="myinfo"><%= @g_info.tel_number %></div>

            <div class="myinfo-label">Where you can guide</div>
            <div class="myinfo">00000000000</div>

            <div class="myinfo-label">Language</div>
            <div class="myinfo"><%= @g_info.use_language_list %></div>

            <div class="myinfo-label">One message( )</div>
            <div class="myinfo"><%= @g_info.hitokoto_shoukai %></div>

            <div class="myinfo-label">Introduction（ ）</div>
            <div class="myinfo-big"><% @g_info.shoukaibun %></div>

            <div class="myscene-wrapper">
              <h4 class="guide-area-tag">
                <a>#Shinjyuku</a>
              </h4>
              <img id="preview2"></img>
            </div>
            <div class="myscene-wrapper">
              <h4 class="guide-area-tag">
                <a>#Shinjyuku</a>
              </h4>
              <img id="preview3"></img>
            </div>
            <div class="myscene-wrapper">
              <h4 class="guide-area-tag">
                <a>#Shinjyuku</a>
              </h4>
              <img id="preview4"></img>
            </div>
            <div class="myscene-wrapper">
              <h4 class="guide-area-tag">
                <a>#Shinjyuku</a>
              </h4>
              <img id="preview5"></img>
            </div>

          </div>

          <div class="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>
          <label class="myinfo-label">
            <h4>After the official launch, guide fee (charged guide)function & payment function will be added.</h4>
          </label>

        </section>

        <section id="asaguest" class='panel'>

          <div class="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>

          <div class="mypage-head">
            <div class="myface-wrapper">
              <img id="mypageface-icon"><%= @g_info.face_picture %>
            </div>
          </div>
          <img src="/assets/wine_w.png" class="bottle-ill"></img>

          <div class="myinfo-wrapper">

            <div class="myinfo-label">Email</div>
            <div class="myinfo"></div>

            <div class="myinfo-label">Name</div>
            <div class="myinfo"><%= @g_info.name %></div>

            <div class="myinfo-label">Sex</div>
            <div class="myinfo"><%= @g_info.sex %></div>

            <div class="myinfo-label">Age</div>
            <div class="myinfo"><%= @g_info.age %></div>

            <div class="myinfo-label">Tel Number</div>
            <div class="myinfo"><%= @g_info.tel_number %></div>
          </div>

          <div class="edit"><%= link_to 'Edit', edit_g_info_path(@g_info) %></div>
         <label class="myinfo-label"><h4>After the official launch, guide fee (charged guide)function & payment function will be added.</h4></label>
        </section>
      </div>
      <% end %>
    </div>
  </div>
</body>
</html>
