<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @g_info.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @g_info.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @g_info.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @g_info.sex %>
</p>

<%= link_to 'Edit', edit_g_info_path(@g_info) %> |
<%= link_to 'Back', g_infos_path %>
