<!DOCTYPE html>

<html>
<tbody>
<div class ="wrap">

 <section class ="top-wrapper">
  <ul class ="bxslider">
    <li><img src ="/assets/topimage.jpg" width="100%" height="500px"/></li>
    <li><img src ="/assets/green.jpg" width="100%" height="500px"/></li>
    <li><img src ="/assets/river.jpg" width="100%" height="500px"/></li>
  </ul>
  <div class ="topfunc">
    <h1 class ="lead">MAKE YOUR DAYS SPECIAL!</h1>
    <h2 class ="lead4guide">You will see other side of Japan with Local Experience<h2>
  </div>
 </section>

 <section class = "login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class ="myinfo-label"><%= f.label :email %></div>
  <%= f.text_field :email, autofocus: true, autocomplete: "email", :class => 'myinfo', :placeholder => 'E-mail' %>
  <div class ="myinfo-label"><%= f.label :password %></div>
  <%= f.password_field :password, autocomplete: "current-password", :class => 'myinfo', :placeholder => 'Password' %>

  <% if devise_mapping.rememberable? %>
  <h3><%= f.check_box :remember_me %> <%= f.label :remember %></h3>
  <% end %>

  <%= f.submit "LOGIN" ,:class => 'login-btn' %>
  <% end %>

 <div class ="regi-btn"><%= link_to 'New User', new_user_registration_path %></div>
 <h3>Forgot password?</h3>
 </section>

</div>
</tbody>
</html>
