<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel ="stylesheet" href="assets/header_footer.css">
  <link rel ="stylesheet" href="assets/basic_parts.css">
  <link rel ="stylesheet" href="assets/btn_ill_parts.css">
  <link rel ="stylesheet" href="assets/text.css">
  <link rel ="stylesheet" href="assets/wrapper.css">
  <link rel ="stylesheet" href="assets/media.css">

  <link rel ="stylesheet" href ="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity ="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 　<link href="https://fonts.googleapis.com/css?family=Anton|Monoton|Baloo+Bhaijaan|Baloo+Da|Dancing+Script|Kosugi+Maru|Open+Sans|Poiret+One|Questrial|Quicksand|Reem+Kufi|Righteous|Roboto:300i|Staatliches&display=swap" rel="stylesheet">

  <title>JAPANIGHT</title>
</head>

<body>

 <header>
   <div class = "dropdown-header">
    <ul class ="responsive-menu"><i class="fas fa-bars"></i></ul>
     <div class ="dropdown-content-header">
      <a href="#">LOGIN</a>
     </div>
   </div>
    <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
    <ul class ="login"><a href="">LOGNIN</a></ul>
 </header>

 <section class ="top-wrapper">
   <h1 class="lead">Make Your Trip Special!</h1>
   <h2 class="lead4guide">You will see other side of Japan with Local Experience at Night. </h2>
   <div href="" class ="circle"><span>ALL GUIDES<br>FREE<br>ONLY NOW</span></div>
 </section>

 <section class = "regi-form">


  <div class ="myinfo-label"><h4>Please enter your E-mail address.</h4></div>
  <input type = "text" placeholder="Email" class ="myinfo"></input>

  <div class ="myinfo-label"><h4>Please enter your password.<br>Password must be a mixture of 8 alphanumeric characters.</h4></div><!-- 18歳以下は登録不可制御-->
  <input type = "text" placeholder="Password" class ="myinfo"></input>

  <div class ="myinfo-label"><h4>Please enter your name</h4></div>
  <input type = "text" placeholder="Name" class ="myinfo"></input>

  <div class ="myinfo-label"><h4>Please enter your Phone number</h4></div>
  <input type = "text" placeholder="Phone Number" class ="myinfo"></input>

    <div class ="myinfo-label"><h4>Please upload your face picture.</h4></div>
  <label class ="upload-btn" for ="img2">
   Uproad
   <input type="file" id= "img2">
  </label>

  <div class ="myinfo-wrapper">　
   <div class ="proceed-btn">Proceed</div>
</div>


 </section>

 <footer>　<!-- フッターは同じコードなので省略して記述したい　-->
    <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
    <img src  = "assets/town.png" class ="town-ill"></img>
    <wrapper class ="footer-wrapper">
     <ul class ="footer-list"><a href ="">HELP</a></ul>
     <ul class ="footer-list"><a href ="">CONTACT</a></ul>
     <ul class ="footer-list"><a href ="">COMPANY</a></ul>
     <ul class ="footer-list"><a href ="">OUR PHILOSOPHY</a></ul>
     <ul class ="footer-list"><a href ="">TERMS OF USE</a></ul>
     <ul class ="footer-list"><a href ="">SPECIAL COMMERCIAL CODE</a></ul>
     <ul class ="footer-list"><a href ="">PRIVACY POLICY</a></ul>
    </wrapper>
 </footer>
 </body>
 <%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
 <%= javascript_include_tag "stylesheet.js" %>
 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
 <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
 <%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
 </html>
