<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guide.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @guide.mail %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @guide.tel %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
