<!DOCTYPE html>

<html>

<head>
<title>JAPANIGHT</title>
<meta charset="utf-8">
<meta name ="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel ="stylesheet" href ="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity ="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Anton|Monoton|Mountains+of+Christmas|Baloo+Bhaijaan|Baloo+Da|Dancing+Script|Kosugi+Maru|Open+Sans|Poiret+One|Questrial|Quicksand|Reem+Kufi|Righteous|Roboto:300i|Staatliches&display=swap" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-center-circle.min.css" />
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "http://code.jquery.com/jquery-2.2.3.min.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "/assets/stylesheet.js" %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "header_footer","basic_parts","btn_ill_parts","text","wrapper","media", :media => "all" %>
</head>

<body>
<div class ="wrap">

 <% if user_signed_in? %>
 <header>
  <tr>
    <% if @g_infos.present? %>
    <% @g_infos.each do |g_info| %>
      <div class = "dropdown-header">
        <ul class ="responsive-menu"><i class="fas fa-bars"></i></ul>
        <div class ="dropdown-content-header">
          <td><%= link_to 'Mypage', g_info_path(g_info.id) %></td>
          <a  href="#">Chat</a>
          <td><%= link_to 'News', news_path(g_info.id) %></td>
          <td><%= link_to 'Q&A', questions_path %></td>
          <td><%= link_to "LOGOUT", logout_path %></td>
        </div>
      </div>
   <ul class ="logo"><a href="/g_infos">JAPA<span>N</span>IGHT</a></ul>

      <ul class ="header-username"><span>Hello, </span><%= g_info.name %></ul>
      <ul class ="mypagecommand"><i class="fas fa-user-edit fa-fw"></i> <%= link_to 'Mypage', g_info_path(g_info.id) %></ul>
      <ul ul class ="mypagecommand"><i class="fas fa-comments fa-fw"></i> <a  href="#">Chat</a></ul>
      <ul class ="mypagecommand"><i class="fas fa-envelope-open fa-fw"></i> <%= link_to 'News', news_path(g_info.id) %></ul>
      <ul class ="mypagecommand"><i class="fas fa-question-circle fa-fw"></i> <%= link_to 'Q&A', questions_path %></ul>
      <ul class ="mypagecommand"><%= link_to "LOGOUT", logout_path %></ul>
    <% end %>
    <% end %>
  </tr>
 </header>
 <% end %>

 <% if current_user == nil %>
 <header>
  <tr>
  <div class = "dropdown-header">
   <ul class ="responsive-menu"><i class="fas fa-bars"></i></ul>
    <div class ="dropdown-content-header">
     <%= link_to 'SIGNUP' ,new_guide_path %>
     <a href="#">LOGIN</a>
    </div>
  </div>
  <ul class ="logo"><a href="/g_infos">JAPA<span>N</span>IGHT</a></ul>
  <ul class ="login"><%= link_to 'LOGIN', login_path %></ul>
  </tr>
</header>
 <% end %>


<%= yield %>

<footer>　
   <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
   <img src  = "/assets/town.png" class ="town-ill"></img>
   <wrapper class ="footer-wrapper">
    <ul class ="footer-list"><%= link_to 'HELP', outline_info_help_path %></ul>
    <ul class ="footer-list"><%= link_to 'CONTACT', outline_info_contact_path %></ul>
    <ul class ="footer-list"><%= link_to 'COMPANY', outline_info_company_path %></ul>
    <ul class ="footer-list"><%= link_to 'OUR PHILOSOPHY', outline_info_philosophy_path %></ul>
    <ul class ="footer-list"><%=  link_to 'TERMS OF USE', outline_info_team_path %></ul>
    <ul class ="footer-list"><%= link_to 'COMMERCIAL CODE', outline_info_code_path %></ul>
    <ul class ="footer-list"><%= link_to 'PRIVACY POLICY', outline_info_policy_path %></ul>
   </wrapper>
</footer>

</div>
</body>
</html>
